.hospital-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.selected {
  background-color: rgb(215, 236, 243);
}

.cp{
  cursor: pointer;
}

.flt{
  float: left;
}

.text-center{
  text-align: center;
}

.f12{
  font-size: 12px;
}

.f20{
  font-size: 20px;
}

.mr-2{
  margin-right: 10px;
}
